<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pierre Feuille Ciseaux</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--<script src="/static/game.js"></script>-->
</head>
<body>

<div class="text-center">
  <h1>Il est interdit de consulter cette page 😡 </h1> 
  <div>
      <img src="https://media.tenor.com/images/c4bd448047578bb02e9f37f6f3659626/tenor.gif" width="50%" alt="Un robot qui pleure">
    </div>
    <div><br>
        <a href="/">
            <button type="button" class="btn-lg btn-primary">Pardon d'avoir été trop curieux. Je retourne vers la page d'accueil.</button>
        </a>
    </div>
</div>
</body>
</html>
